---
title:  "Venezuela Low"
---
{% include p5.html %}
{% include p5_sound.html %}
{% include dat_gui.html %}
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venezuela</title>
    <style> body {padding: 0; margin: 0;} </style>
    <!--<script src="/songs/vzla_refactor_low.js"></script>-->
    <script type="text/javascript"> 
      {% include_relative vzla_refactor_low.js %}
    </script>
  </head>
  <body>
  </body>
</html>
