---
title:  "Venezuela Low"
---
{% include p5.html %}
{% include p5-sound.html %}
{% include dat-gui.html %}
{% include capture.html %}

<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <style> body {padding: 0; margin: 0;} </style>
    <!--<script src="/songs/vzla-refactor-low.js"></script>-->
    <script type="text/javascript"> 
      {% include_relative vzla-refactor-low.js %}
    </script>
  </head>
  <body>
  </body>
</html>
